body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(120, 178, 178);
}
h1
{
    text-align: center;
    color: aliceblue;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#box1
{
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
   
}
#box2
{
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border-radius: 50%;
}
#box3
{
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border-left: 3px solid blue;
    border-right: 3px solid violet;
    border-top: 3px solid purple;
    border-bottom: 3px solid salmon;
}